body {
background-color: lightblue;
text-align: center;
width: 500px;
margin: 20px auto;

}
@font-face {
font-family: 'mycustomfont';
src: url("fonts/Montserrat-Italic-VariableFont_wght.truetype") format("truetype");
font-weight: 700;
font-style: italic;
}
@font-face {
    font-family: 'mycustomfont';
    src: url("fonts/Montserrat-Italic-VariableFont_wght.truetype") format("truetype");
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-family: 'mycustomfont', !important;
    font-weight: 700;
    font-style: italic;
}
.container {
    background-color: lightcyan;
    width: 70%;
    border-radius: 10px;
    border: 2px solid darkcyan;
    padding: 0 auto;
}

button {
    margin-bottom: 10px;
    background-color: lightcyan;
    border-radius: 4px;
    border: 1px solid darkcyan;
    display: inline-block;
    color: black;
    font-style: italic;
}
ol li {
    min-height: 30px;
}
input::placeholder {
    color: black;
    
    
    font-style: italic;
}
li {
    font-family: 'mycustomfont', sans-serif;
    font-weight:400;
    font-style: italic;
    margin: 0;
    padding: 0;
    text-indent: 0;
}
input {
    padding: 5px;
    border: 2px solid darkcyan;
    background-color: lightcyan;
    border-radius: 5px;
}
ol {
    list-style: none;
    padding: 0 auto;
    margin: 0;
    counter-reset: todo;
}
li {
    display: grid;
    grid-template-columns: 2ch auto;
    gap: 0.5em;
counter-increment: todo;
margin: 0.5em 0;


}
li::before {
    content: counter(todo) ".";
text-align: right;
}

